* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(75deg, green, purple);
}

header {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
}

/* Head Table*/

caption {
    font-size: 26pt;
    padding: 5px;
}

/*------------------*/
/*Body Table*/

table {
    background-color: azure;
    margin: 20px auto;
    width: 700px;
    padding: 20px;
    height: 550px;
    box-shadow: 1px 1px 3px 3px;
    border-radius: 15px;
    text-align: left;
}

th, td {
    padding: 5px;
}

label {    
    font-size: 12pt;
}

@keyframes rainbow {
    0% {background-color: red;}
    15% {background-color: orange;}
    30% {background-color: yellow;}
    45% {background-color: green;}
    60% {background-color: blue;}
    75% {background-color: indigo;}
    90% {background-color: violet;}
    100% {background-color: white;}
}

input[type="text"], input[type="tel"], input[type="email"] {
    width: 200px;
    background: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 2px solid green;
}

select {
    background-color: crimson;
    border-radius: 15px;
    width: 2in;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

#itxtFav {
    transition: width 0.4s ease-in-out
}

#itxtFav:focus {
    width: 60%;
}

input[type="text"]:hover, input[type="tel"]:hover, input[type="email"]:hover {
    animation: rainbow ease-in-out 0.6s;
}

/*Foot Table*/

tfoot {
    text-align: center;
}
